{% extends "lid/base.html" %}
{% block body %}


          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-question-circle"></i>
              What this data is and isn't, and everything you could ever want to know about LID</div>
            <div class="card-body">


<p>The Legislative Influence Detector is a project of USA TODAY Network journalists and information technology specialists who built a first-of-its-kind algorithm that matches model legislation against legislation introduced in all 50 states, dating back to 2010, identifying potential instances where lawmakers are proposing language to insert into state law that has been provided to them directly by companies, special interest groups and industry lobbyists.
<p class="font-weight-bold">How did you identify these model bills?</p>
<p>The reporting team compiled a database of more than 2,000 model bills. The USA TODAY Network then created an series of algorithms to compare text strings in those models versus text in more than 650,000 (and counting) pieces of legislation in statehouses in all 50 states and the US Congress from 2010 through late 2018. 
<p>A second algorithm studies how similar the model bills were to the legislative text and assigns a score - basically an accounting of how much of the bill was copied from models. The more than 10,000 matching bills detected by USA TODAY Network were substantially copied from model legislation.
<p class="font-weight-bold">What does the LID score indicate?</p>
<p>Scores were created by giving as many as 40 points based on the length of the maximum identical string of words; up to 20 points for the number of matching word strings that were 5 words or longer; and up to 40 points for the number of matching word strings that were 10 words or longer. 
<p class="font-weight-bold">Is this tool showing me every copied model bill or just matches?</p>
<p>Legislation that appears on this site includes bills that earned a score of 80 or more from the algorithms, indicating they are a possible model bill. A score above 80 indicates that the bill was substantially copied from model legislation.
<p>However, it is important for reporters to look at the two bills in the side-by-side comparison window to determine if it actually is a model. Some bills, such as proposed constitutional amendments, quote so much of the same language that they could be flagged as a model even if they about completely different subjects. 
<p class="font-weight-bold">What other reporting should I do beyond studying the bill?</p>
<p>If you use this tool to identify potentially copied model legislation, you should study the two versions side by side, follow the links to similar bills proposed in other states, talk to the entity that crafted the model and interview the legislators who sponsored the legislation in your state - and in other states. While a lawmaker in one state may not tell you they were provided the model by an industry, a legislator in another state may tell a different story. It's worth knowing what each lawmaker who signed on to support the bill says about its origins.
<p class="font-weight-bold">What reporting has the USA TODAY Network published so far on this topic?</p>
<p>Coming soon to this site will be links to all of the investigative stories published by USA TODAY Network about the models detected by the LID. Check back.











            </div>
            <div class="card-footer small text-muted">Updated Feb. 8, 2019</div> {% endblock %}
          </div>
