{% extends "lid/base.html" %}
{% block body %}


          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-question-circle"></i>
              What this data is and isn't, and everything you could ever want to know about LID</div>
            <div class="card-body">


<p>Bacon ipsum dolor amet cupim bacon fatback meatball, frankfurter pork belly turducken jowl shankle hamburger cow burgdoggen corned beef ham hock pork. Shank buffalo strip steak boudin picanha burgdoggen t-bone sausage short ribs ham hock jerky. Ground round turkey tenderloin andouille prosciutto, shank frankfurter. Doner ground round capicola tongue hamburger alcatra flank turkey biltong. Landjaeger kevin pancetta leberkas porchetta kielbasa pork loin buffalo sausage swine. Shank tongue frankfurter, drumstick buffalo picanha fatback chicken t-bone pastrami short ribs ground round boudin.

<p>Bresaola biltong ham, filet mignon leberkas pig landjaeger cupim pork loin kevin short loin t-bone ribeye short ribs. Tenderloin strip steak pastrami, venison swine capicola brisket. Pork belly prosciutto meatball, salami capicola short ribs ribeye buffalo turkey rump shoulder tail swine. Bacon flank kevin fatback salami pork belly cow filet mignon picanha short loin swine short ribs hamburger.

<p>Beef ribs salami kevin ham leberkas. Brisket alcatra drumstick ham hock pancetta buffalo pork loin chuck. Burgdoggen meatloaf pork belly cow chuck. Corned beef jerky bacon, short ribs prosciutto andouille capicola venison burgdoggen boudin fatback turducken landjaeger pork. Short ribs brisket pork loin, corned beef cupim picanha boudin turducken landjaeger pancetta jerky venison kielbasa beef ribs fatback.

<p>Burgdoggen swine pork, cupim jowl t-bone shank meatloaf picanha. Drumstick jerky corned beef meatball strip steak bacon pastrami biltong leberkas. Pork belly rump andouille t-bone cupim. Boudin chuck jowl ribeye bacon, bresaola salami. Pork belly salami ham leberkas doner pastrami, drumstick prosciutto shankle fatback turkey kielbasa chicken tail. Alcatra brisket hamburger chicken drumstick shank venison short ribs frankfurter meatball.

<p>Tail shoulder short ribs frankfurter cow, rump swine sirloin tri-tip pork jowl beef ribs. Tri-tip shankle chicken kielbasa beef ribs boudin cow ground round tail turducken. Brisket t-bone filet mignon ham hock buffalo ham rump alcatra corned beef landjaeger spare ribs. Spare ribs capicola burgdoggen, turkey beef ham hock sausage tongue pig venison strip steak meatball leberkas brisket porchetta. Sirloin ball tip t-bone bacon tail, capicola sausage pancetta turkey filet mignon drumstick turducken ground round beef. Porchetta t-bone kielbasa sirloin meatloaf pork chop. Pork belly ground round short ribs biltong boudin, turducken rump ham salami beef ribs short loin porchetta leberkas landjaeger.












            </div>
            <div class="card-footer small text-muted">Updated Feb. 8, 2019</div> {% endblock %}
          </div>
