{% extends "lid/base.html" %}
{% load switch_env %}
{% load lengthen_state %}

{% block body %}

<div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/lid">Dashboard</a>
            </li>
	    <li class="breadcrumb-item">
              <a href="/lid/{{ match.state }}">{{ match.state|lengthen_state }}</a>
            </li>
            <li class="breadcrumb-item active">Detail</li>
          </ol>
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              {{ match.state|lengthen_state }} {{ match.billno }} -- {{ match.billtitle }}</div>
            <div class="card-body">
		<p><span class="font-weight-bold">Year</span>: {{ match.year1 }}</p>
		{% if model_deets.model_source %}<p><span class="font-weight-bold">Model Source</span>: {{ model_deets.model_source }}</p>{% endif %}
		<p><span class="font-weight-bold">Party</span>: {{ match.party }}</p>
		<p><span class="font-weight-bold">Status</span>: {{ match.status }}</p>
		<p><span class="font-weight-bold">Primary sponsors</span>: {{ match.primarysponsors }}</p>
		<p><span class="font-weight-bold">Secondary sponsors</span>: {{ match.cosponsors }}</p>
		<p>Bills based on similar language have been introduced in {{ other_matches.count }} states: {% for record in other_matches %}<a href="/lid/{{ record.state }}/{{ record.billno }}/{{ record.year1 }}/{{ record.modelid }}">{{ record.state|lengthen_state }}</a>{% if not forloop.last %}, {% else %}.{% endif %}{% endfor %}
		 <iframe height="600px" frameborder="0" width="100%" src="{{ match.view|switch_env }}"></iframe> 
            </div>
            <div class="card-footer small text-muted">{% if match.timestamp %}Updated {{ match.timestamp }}{% endif %}</div>
          </div>

        </div>
{% endblock %}
