{% extends 'lid/base.html' %}

{% block body %}

         <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-plus"></i>
              TOP SECRET MODEL ADDING PAGE</div>
            <div class="card-body">
		<p>THIS IS ONLY FOR PEOPLE WHO ARE OFFICIALLY ENDORSED LID-FUTZERS. DO NOT EVEN BEGIN TO SCREW AROUND WITH THIS IF YOU DON'T KNOW WHAT IT DOES IT COULD DESTROY CIVILIZATION AS WE ALL KNOW IT. FOR REAL. DON'T TOUCH. 

<form action="/lid/add/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

 </div>
            </div>
            <div class="card-footer small text-muted"></div>
          </div>
        </div>
      </div>



{% endblock %}


